@use "./config/reset.scss";
@use "./config/variaveis.scss";
@use "./hero";
@use "./bar";
@use "./about";
@use "./footer";

body {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../img-bg/bg-balanca.jpg);
    background-size: cover;
    background-position: center;

    background-color: rgba(0, 0, 0, 0.5);
}

.title--big {
    font-size: 40px;
    color: variaveis.$colorPrincipal;
}

.title {
    font-size: 32px;
    color: variaveis.$colorPrincipal;
}

.text {
    font-size: 18px;
    color: variaveis.$colorPrincipal;
}



.scale-up-bottom {
	-webkit-animation: scale-up-bottom 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-bottom 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}



 @-webkit-keyframes scale-up-bottom {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
    }
  }
  @keyframes scale-up-bottom {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
    }
  }
  